<div class="d-flex justify-content-center my-4">
  <img width="50" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <h1 class="ml-3 mt-2">Welcome to {{ title }} </h1>
</div>

<nav class="navbar navbar-dark bg-dark">
  <div class="container navbar-nav d-flex flex-">
      <ul class="navbar-nav nav-pills flex-column flex-sm-row">
        <li class="nav-item mr-5" routerLinkActive="active"><a class="nav-link" routerLink="appareils">Appareils</a></li>
        <li class="nav-item mr-5" routerLinkActive="active"><a class="nav-link" routerLink="auth">Authentification</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="edit">Nouvel appareil</a></li>
      </ul>
      <div class="navbar-right">
        <p class="nav-link">Temps en secondes : {{ secondes }}</p>
    </div>
  </div>
</nav>

<div class="container d-flex justify-content-center my-4">
  <div class="row text-center d-flex justify-content-center">
    <!-- <app-appareil-view></app-appareil-view> -->
    <router-outlet></router-outlet>
  </div>
</div>
